data/elements.nc
data/species.nc
data/materials.nc
data/reactions.nc
data/pmi.nc
build*/
.idea/
__pycache__/
MACOSX
tex
src/makedepend
src/TAGS
src/usr2ddetector.web
src/usr2dplasma.web
Doc/degas2_all.ind
Doc/degas2_all.ilg
Doc/degas2_all.toc
Doc/degas2_all.synctex.gz
Doc/degas2_all.out
Doc/degas2_all.log
Doc/degas2_all.idx
Doc/degas2_all.aux
Doc/DEGAS_2_description.aux
Doc/DEGAS_2_description.log
Doc/DEGAS_2_description.out
Doc/DEGAS_2_description.synctex.gz
Doc/uedge_degas2_coupling.aux
Doc/uedge_degas2_coupling.log
Doc/degas2_developer.aux
Doc/degas2_developer.idx
Doc/degas2_developer.log
Doc/degas2_developer.out
Doc/degas2_developer.toc
Doc/degas2_developer.synctex.gz
